<h3> ****** SIGN IN PAGE FOR USER ****** </h3>


<h1> Welcome To FOODIES! </h1>

<br>

<main>
    <h3> Meet new people and Eat! </h3>


    {{!-- <br> {{user.email}} {{user.events}} --}}
    <form action="/users/new" method="PATCH">

        <button> Sign Up Here! </button>
    </form> 
    <br>

    <form action="/users/{{foodie._id}}" method="GET">
        <button> Sign In Here! </button>
    </form>

    <br>
    <br>