<h1> ****THIS PAGE SHOWS THE USER'S PROFILE*** </h1>



<h1>Welcome Back,  {{User.name}} ! </h1>

<br>


Your info: <br>


 <div> name: <input>  <br> </div>
 <div> username: <input>  <br> </div>
 <div> password: <input>  <br></div>
 <div> your location: <input>  <br></div>
 <div> img: <input>  <br></div> 

    <a href="/users/{{_id}}/edit"><button type="submit">Update Foodie Info </button> </a> 
</form>
<br>
<main>
        <h3> Your Explorations: </h3>
        <a href="/explorations"> <button> Explorations </button></a>
        </div>

        <br>


        <br>
        <br>
        </main>