<h1> ****THIS PAGE SHOWS THE USER'S PROFILE***  </h1>



<h1>Welcome Back, {{User.name}} ! </h1>

<br>

<div>
<h3> Your Explorations: </h3>
<a href="/explorations/new"> <button> Create New Exploration </button></a>

</div>


