<h1> RESTAURANT PROFILE </h1>
<p> EXPLORATIONS.JS FILE </p>

<h3> Your Explorations: </h3>

**********this page should show list all of the restaraunts******** {{#each restaurants}}
<div>
    <h2> <a href="/explorations/{{_id}}"> {{name}}</a></h2>
</div>
{{/each}} 

{{#each restaurants}}
<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">
            <div>
                <h2> <a href="/explorations/{{_id}}"> {{name}}</a></h2>
            </div>
           
        </h5>
        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
    </div>
</div>
 {{/each}}






<main>

    <a href="/explorations/new"> <button> Create New Explorations </button></a>
    </div>

    <br>


    <br>
    <br>
</main>