<h1> RESTAURANT PROFILE </h1>
<p> EXPLORATIONS.JS FILE </p>

<h3> Your Explorations: </h3>

**********this page should show list all of the restaraunts******** 
{{#each restaurants}}
<div>
    <h2> <a href="/explorations/{{_id}}"> {{name}}</a></h2>
</div>
{{/each}} {{!--
<h3>

    <a href="/explorations/{{this._id}}">
        {{name}}
    </a>
</h3> --}} {{!-- #loop through each RESTAURANTS --}} {{!-- Code goes here --}} {{!-- ((/loop)) --}}










<main>

    <a href="/explorations/new"> <button> Create New Explorations </button></a>
    </div>

    <br>


    <br>
    <br>
</main>