<h1>Create New Your Exploration Here! </h1>






<main id="h2Text">

    <h3> NEW EXPLORATION :</h3>

    <div id="edit-form" class="explore-container-show">

        <form action="/explorations/{{explorations_.id}}" method="POST">
            <div>
                <label for="name"> Name: </label>
                <input type="text" name="name">
            </div>
            <div>
                <label for="location"> Location: </label>
                <input type="text" name="location">
            </div>
            <div>
                <label for="contact"> Contact: </label>
                <input type="text" name='time'>
            </div>

            <div>
                <label for="website"> Website: </label>
                <input type="text" name='website'>
            </div>
            <div>
                <label for="description"> Description: </label>
                <input type="text" name="description">
            </div>
            <div>
                <label for="img"> IMG </label>
                <input type="text" name="img">
            </div>
            <div>
                <label for="img"> IMG </label>
                <input type="text" name="img">
            </div>

            <br>
            <br>
            <br>

            <button type="submit"> EXPLORED !! </button>
        </form>

    </div>
</main>