<h1>Create New Your Exploration Here! </h1>






<main id="h2Text">

   <h3> NEW EXPLORATION :</h3>

   <div id="edit-form" class="explore-container-show">

       <form action="/explorations/{{explorations_.id}}" method="POST">
           <div>
               <label for="name"> name: </label>
               <input type="text" name="name">
           </div>
           <div>
               <label for="location"> location: </label>
               <input type="text" name="location">
           </div>
           <div>
               <label for="contact"> Contact: </label>
               <input type="text" name='time'>
           </div>
           <div>
               <label for="hours"> hours: </label>
               <input type="text" name='hours'>
           </div>
           <div>
               <label for="website"> website: </label>
               <input type="text" name='website'>
           </div>
           <div>
               <label for="description"> description: </label>
               <input type="text" name='description'>
           </div>
           <button type="submit">Create New Event</button>
       </form>

   </div>
</main>